In [1]:
import pandas as pd
import numpy as np

There are three datasets to use for this assignment, located here:

1. data/child_base_data.csv ===> basic data about the children
2. data/child_demographic_data.csv ===> Some demographic information
3. data/activity_details.csv ===> Results of a couple of activities the children have performed

All children are uniquely identified by the column: "unique_child_id".

Note that this is messy data, and part of the challenge will be in finding reasonable ways
to address that. Feel free to add new columns to your dataframes if it would help you while
calculating things, but don't include those columns when you need to save anything out.

In [2]:
# read in the data
base_df = pd.read_csv('data/child_base_data.csv')
demographics_df = pd.read_csv('data/child_demographic_data.csv')
activity_df = pd.read_csv('data/activity_details.csv')

# Feel free to explore the data as much as you need.

## Child Base Data

In [3]:
base_df.head()
base_df.describe()

               version https://git-lfs.github.com/spec/v1
count                                                   2
unique                                                  2
top     oid sha256:2dfa113ad468fcaa3d4d2d339208570820c...
freq                                                    1

In [4]:
demographics_df.head()
demographics_df.describe()

               version https://git-lfs.github.com/spec/v1
count                                                   2
unique                                                  2
top     oid sha256:d81fd17a01b46d5d4a62f66c7ec902392f7...
freq                                                    1

Answer the following questions about the data using whatever python tools you are comfortable with.

In [ ]:
# 1. How many children completed at least one activity?

In [ ]:
# 2. On average, how many activities did each child complete?

In [ ]:
# 3. On average, how many unique activities did each child complete?

In [ ]:
# 4. How many children participated in every activity?

In [ ]:
# 5. How many children did not participate in any activities?

In [ ]:
# 6. What is the mean score on each activity?

In [ ]:
# 7. What is the mean score, separately for boys and girls, on each activity? Median?

In [ ]:
# 8. What is the mean score on each activity for each integer age group (in years)?
#    (i.e. mean score for 2-year-olds, for 3-year-olds, for 4-year-olds, etc.)

When done, please save your work in this notebook and send back either the saved notebook
or a pdf export.

Thank you!